<footer class="footer">
  <small>
    Special thanks to <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      Made by Yen-Feng Cheng
    </ul>
  </nav>
</footer>