<div class='container'>
<h1> 說明文件 </h1>
<ol>
	<li>我要如何調整人員順序？<br>
		&nbsp&nbsp直接用滑鼠拖拉即可，改變首頁順序同時也會改變班表輸出的順序。</li>
	<li>Special Shift代表什麼？<br>
		&nbsp&nbsp14代表這人員將「有可能」被排到名為14的班；另外6則會在週六排一班，選週一到五隨機一天一班補假。若此欄位空置，則只排正常班。</li>
	<li>若之後有人離職，我可以刪除這個人的紀錄嗎？<br>
		&nbsp&nbsp在該人員目錄點選"Destroy"即可刪除。</li>
	<li>Opps!我不小心新增錯人員了，可以改嗎？<br>
		&nbsp&nbsp當然可以，請點Edit。</li>
	<li>這個排班程式是用什麼標準排的呢？<br>
		&nbsp&nbsp一切皆為隨機結果，因此無法保證上一次被排到特別班表的人這次不會被再次排到。</li>
</ol>