<!-- This is to have a login page -->
<div class="center jumbotron">
  <h1>信義健保局藥劑科排班程式</h1>

  <h2>
    此排班程式可隨機產生一組班表<br>
    並可以ＥＸＣＥＬ檔案下載<br>
  </h2>

  <%= link_to "開始使用", '/people', { :method => :get, class: "btn btn-lg btn-primary"} %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>